https://recipe.hyeungshikjung.com {
    gzip
    proxy / localhost:8080 {
        transparent
        except /static
    }
    log / ./access.log "{remote} {when} {method} {uri} {status} {size} {latency} || {request} || BODY: {request_body}"
}
