version: "3"
services:
  redis:
    image: redis:4
    ports:
      - "6379:6379"
  db:
    image: postgres:9.6
    volumes:
      - 'postgres:/var/lib/postgresql/data'
    ports:
      - "5432:5432"
  app:
    build: .
    env_file:
      - .env
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./recipescape_api:/src
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
volumes:
  postgres:
