version: "3"
services:
  redis:
    image: redis:4
  app:
    build: .
    env_file:
      - .env
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./recipescape_api:/src
    ports:
      - "8000:8000"
    depends_on:
      - redis
volumes:
  postgres:
