{% extends 'base.html' %}

{% block content %}
    <h3>Thanks for contributions :D</h3>
    <p>Total {{ count }} annotations were made</p>
    <table class="ui very basic collapsing celled table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.annotator }}</td>
                <td>{{ user.annotation_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
